<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/portfolioEbert/resources/css/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1"> Andrew E </span>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="aboutMe.html"> About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="productSlider.html"> Slider </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="carlot.html"> Car Game </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="battleship.html"> Battleship </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blackjack.html"> Blackjack </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="indexOnHover.html"> onHover </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="indexOnClick.html"> onClick </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="stringTimes.html"> String </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="product1.html"> product1 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="product2.html"> product2 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="360deg.html"> 360 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="store.html"> Shopping Cart </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactForm.html"> Contact Form </a>
        </li>
      </ul>
    </div>
  </nav>

  <!== Navbar Above -->

  <p id="demo"></p>

  <div class="card text-center">
      <div class="card-header">
        <img height="110px" width="110px" src="/portfolioEbert/resources/Images/linkedIn.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">Welcome!</h5>
        <p class="card-text">Thank you for visiting my page. My name is Andrew Ebert and although I was born by the
          Atlantic Ocean in the
          Northeast I am a native to the American midwest. I have traveled much of the United States and a bit of Canada
          and
          Mexico. I have always wanted to travel more but had to commit the past decade to work and education where I
          was
          able to gain a bachelors and masters degrees. My work and education experience have allowed me to understand
          in
          great detail the processes behind marketing and all varieties of management including program, project, and
          product research, development, and delivery. In recent times I have also taken it upon myself to increase my
          technical experience in becoming a computer engineer utilizing stacks for JavaScript. I am very big on
          communication and as a result I have made many wonderful connections over the years. I wish to continue to
          make
          many more important connections and hope to eventually be able to travel for work. If you are a like minded
          individual and would like to find out how we can improve the business functions that we touch please reach out
          to
          me through the contact form,
          or my LinkedIn: </p>
        <a href="https://www.linkedin.com/in/andrew-ebert-59086697/" class="btn btn-primary">LinkedIn</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

</body>

</html>