<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../resources/css/styles.css">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1"> Andrew E </span>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="aboutMe.html"> About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="productSlider.html"> Slider </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="carlot.html"> Car Game </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="battleship.html"> Battleship </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blackjack.html"> Blackjack </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="indexOnHover.html"> onHover </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="indexOnClick.html"> onClick </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="stringTimes.html"> String </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="product1.html"> product1 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="product2.html"> product2 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="360deg.html"> 360 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="store.html"> Shopping Cart </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactForm.html"> Contact Form </a>
        </li>
      </ul>
    </div>
  </nav>

  <!== Navbar Above -->
  <div style="margin-top: 100px;">
    <button class="btn btn-outline-success" type="button" onClick="showRoomFloor(carLot)"> Click Me To Buy A Random
      Car</button>
    <button class="btn btn-outline-info" onClick="window.location.reload();">I WANT A NEW CAR</button>
    <h2 id="today"></h2>
  </div>
    
    <script src="../resources/js/carlot.js">

    </script>

</body>

</html>