<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    

</head>
<body>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close"  onclick="document.getElementById('modal-wrapper').style.display='none'" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="modal-wrapper" class="modal" style="display: none;">
                <div class="center">
                    <button type="button" class="close"  onclick="document.getElementById('modal-wrapper').style.display='none'" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                <div class="rotation" style="position: relative; width: 100%;">
                
                    <img src="../resources/Images/360/2.png">
                    <img src="../resources/Images/360/3.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/4.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/5.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/6.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/7.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/8.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/9.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/10.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/11.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/12.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/13.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/14.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/15.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/16.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/17.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/18.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/19.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/20.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/21.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/22.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/23.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/24.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/25.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/26.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/27.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/28.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/29.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/30.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/31.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/32.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/33.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/34.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/35.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/36.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/37.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/38.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/39.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/40.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/41.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/42.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/43.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/44.png" style="display: none; width: 100%;">
                    <img src="../resources/Images/360/45.png" style="display: none; width: 100%;">
                
                </div>
                
                </div>
                </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../resources/js/jquery.js"></script>
  <script src="../resources/js/360deg.js"></script>
  <script src="../bootstrap-4.5.0-dist/js/bootstrap.js"></script>
  <script src="../bootstrap-4.5.0-dist/js/bootstrap.bundle.js"></script>
  <script src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

</body>
</html>